@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light.woff') format('woff');
}

* {
    box-sizing: border-box;

}


.heading {
    max-width: 800px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 800px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin-left: 4px;
    flex-direction: row;
}

.notes_logo {
    font-family: 'SF UI Display Bold', sans-serif;
    font-size: 26px;
    line-height: 31px;
    text-align: left;
    margin-left: 6px;
    margin-bottom: 1px;
    color: rgba(13, 63, 103, 0.7);

}

.navigation_buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: normal;
}

.navigation_buttons > button {
    margin-left: 19px;
}
.search-area {
    display: none;
}
.search-input {
    border: 0;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.03em;
    margin-left: 12px;
    color: #333333;
}
.search-input::placeholder {
    color: rgba(55, 65, 72, 0.5);
}

.menu-active {
    display: none;
    padding-top: 24px;
    padding-left: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(13, 63, 103, 0.14);
    border-radius: 6px;
    position: absolute;
    right: 5px;
    width: 338px;
    height: 210px;
    top: 63px;
    z-index: 1;
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
}
.menu-active a {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    letter-spacing: -0.01em;
    color: #0D3F67;
}

.photo-description {
    display: inline-block;
    margin-top: 30px;
}
.photo-description > p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.03em;
}

.photo-description > img {
    border-radius: 50%;
    margin-right: 10px;
}

.class-that-will-hide {
    /* default by desktop */
}

.text-field {
    position: relative;
    background: #FFFFFF;
    border-radius: 6px;
    height: 180px;
    width: 800px;
    margin-top: 0px;
    margin-bottom: 12px;
    box-shadow: 0px 4px 12px rgba(13, 63, 103, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-input {
    margin: 18px 15px 0px 15px;
    font-family: 'SF UI Display Bold', sans-serif;
    letter-spacing: -0.01em;
    font-size: 20px;
    line-height: 24px;
    color: #3A4248;
    align-items: center;
    border: 0px;
    width: calc(100% - 32px);
}
.title-input::placeholder {
    opacity: 0.65;
}
/*
below i am trying to stylish the placeholder attribute inside title-input
*/
/*
.title-input::placeholder               {opacity: 0.5}
.title-input::-webkit-input-placeholder {opacity: 0.5}
.title-input::-moz-placeholder          {opacity: 0.5}
.title-input:-moz-placeholder           {opacity: 0.5}
.title-input:-ms-input-placeholder      {opacity: 0.5}
*/
.text-area {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #333333;
    margin: 6px 16px 15px 15px;
    border: 0;
    height: 76px;
    resize: none;
    width: calc(100% - 32px);
}
.settings-tools {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 15px 15px 15px;
    padding-bottom: 3px;
    width: calc(100% - 32px);
}



.color-pick {
    display: flex;
    align-items: center;
}
.other-colors {
    display: none;
}
.other-colors > div {
    margin-left: 5px;
}
.circle {
    background: #FFFFFF;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 1px;
    border: 2px solid rgba(55, 65, 72, 0.5);
}

.greenColor {
    background: #00D595;
    border: 2px solid #00D595;
}
.blueColor {
    background: #0051EE;
    border: 2px solid #0051EE;
}
.purpleColor {
    background: #6B48FF;
    border: 2px solid #6B48FF;
}

.actions > button {
    margin-left: 31px;
}

button {
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0);

}

.message {
    position: relative;
    box-shadow: 0px 2px 5px rgba(13, 63, 103, 0.1);
    border-radius: 0px 6px 6px 0px;
    width: 800px;
    background: #FFFFFF;
    border-left: 3px solid #FFFFFF;
    margin-top: 1px;
}

.message-title {
    letter-spacing: -0.01em;
    font-family: 'SF UI Display Bold', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #3A4248;
    margin-top: 17px;
    margin-left: 13px;
    margin-bottom: 5px;
}
.message-text {
    margin-left: 13px;
    margin-right: 40px;
    padding-bottom: 23px;
    text-align: left;
    font-family: 'SF UI Display Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.025em;
    text-align: left;

}
mark {
    color: red;
    background-color: transparent;
}

.changeColor::placeholder {
    color: white;
}


@media(max-width: 850px) {
    .heading, .container {
        width: 94%;
        box-sizing: border-box;
    }
}

@media(max-width: 540px) {
    .heading, .container {
        width: 94%;
        box-sizing: border-box;
    }
    .navigation_buttons {
        position: static;
    }
    .menu-active {
        width: calc(100% - 37px);
    }
    .class-that-will-hide {
        display: none;
    }
}